﻿@using Business.ViewModels.Admin.OurVisionGoal
@model OurVisionGoalUpdatedVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Update Vision Goal</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="update" asp-controller="ourvisiongoal" method="post">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Desc"></label>
                    <textarea class="form-control" asp-for="Desc"></textarea>
                    <span asp-validation-for="Desc"></span>
                </div>
                
                <div class="form-group">
                    <label class="form-label" asp-for="PhotoFile"></label></br>
                    <input type="file" class="form-label" asp-for="PhotoFile">
                    <span asp-validation-for="PhotoFile"></span>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>